* {
  box-sizing: border-box;
}
main {
max-width: 1200px;
margin: 0 auto;
}

body {
  background-color: #f5f4f4;
line-height: 1.5;

font-family: 'Fjalla One', sans-serif;

}
.page-wrapper{
  text-align: center;
}
.header-wrapper {
  text-align: center;
  background-color: #ecebeb;


}
#portfolio {
  text-align: center;
}
.name {
  margin: 0%;

}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}
h1, h3 {font-family: 'Fjalla One', sans-serif;}
nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-top a {
  background-color: #FFF;
  margin: 5px 10px;
  margin-bottom: 2%;
  padding: 10px;
  display: block;

}
.logolist li {
  display: inline-block;
}
.logo {
  width: 70px;
  height: 70px;
}
.main-nav {
  margin-bottom: 20px;
}
.profile-img {

width: 70%;
padding-top: 10%;
}
.main-nav {
  margin: auto;
  padding: inherit;
}
.profile {
  padding-bottom: 10px;
}
ul, a {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  color: #000;
}
img {
  width: 100%;
  margin-top: 5px;
  padding: 5px;

}
.bname {
  float: left;

}
.return{
  float:right;
  text-decoration: none;

}
.footer-wrapper {
  text-align: center;
  background-color: #ecebeb;

}
main {
  margin-top: 5px;
}
.footer-nav {
display: none;

}
nav a:hover {
  background-color:#f0f0f0;


}
@media (min-width:768px){

  .main-nav li {
    display: inline-block;
    background-color: transparent;
  }

  .main-nav a {
    background-color: transparent;
    padding: 5px;
  }
  .profile {
  padding-bottom: 10px;
}
  .profile-img {
float: right;
    width: 45%;
padding: 3%;
overflow: auto;

  }
  #profile-text {
padding: 10%;
    width: 50%;
    text-align: left;
  padding: 5%;
margin-right: 10%; }

.col {width: 50%;
/*border: red solid 1px;*/
float: left;
text-align: center;
}
div {
  display: block;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix {
  overflow: auto;
}

.footer-nav li {
  display: inline-block;
}
.nav-bottom ul {
  float: right;
  display: inline-block;
}
.return {display: none}
}
@media (min-width: 1024px){
.return
{
  display: none
}

.col {width: 33.3%;

float: left;
}
.profile-img{
  padding-bottom: 20px;}
p{
  font-size: 1.5em;
}
nav{

  float: right;

}

 h1 {
  float: left;

}
header p {
  font-size: 1.3em;

}
}
